@charset "utf-8";

//navbar section

@import "./component/navbar/navbar.scss";

//contact section

@import "./component/contact/contact.scss";
@import "./component/contactList/contactlist.scss";

//contact Items
@import "./component/contactItems/contact.scss";

//searchBox
@import "./component/searchBox/searchbox.scss";

//modal
@import "./component/modal/modal.scss";

html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  max-width: 100%;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  #root {
    width: 80% !important;
  }
}
