@charset "utf-8";

//navbar section

@import "./component/navbar/navbar.scss";

//contact section

@import "./component/contact/contact.scss";
@import "./component/contactList/contactlist.scss";

//contact Items
@import "./component/contactItems/contact.scss";

//searchBox
@import "./component/searchBox/searchbox.scss";

//modal
@import "./component/modal/modal.scss";

body {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
