.modal-contain {
  width: 500px;
  height: 600px;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  z-index: 9999;
  .modal-wrap {
    width: 350px;

    background-color: white;
    padding: 20px;
    .modal-content {
      display: flex;
      flex-direction: column;
      label {
        margin-bottom: 10px;
      }
      input {
        margin-bottom: 20px;
        border: none;
      }
      button {
        height: 40px;
        color: white;
        background-color: black;
        cursor: pointer;
      }
    }
  }
}
